<% provide(:title, "受講者投稿一覧") %>

  <%= render 'recruitments/upper' %>
  <section class="main">
    <div class="side">
      <%= render 'recruitments/sidebar' %>
    </div>
    <div class="main-p">
      <%= render partial: 'main', locals: { students: @students, recruitments: @recruitments } %>
    </div>
  </section>
