- provide(:title, "指導者投稿一覧")
= render 'recruitments/upper'
%section.main
  .side
    = render 'recruitments/sidebar'
  .main-p
    = render partial: 'main', locals: { teachers: @teachers, recruitments: @recruitments }
