
<div class="wrapper">
  <%= render 'recruitments/upper' %>
  <section class="main">
    <h3>指導者投稿一覧</h3>
    <div class="main-p">
       <%= render partial: 'main', locals: { teachers: @teachers, recruitments: @recruitments } %>
    </div>
  </section>
</div>
