<% provide(:title, "指導者投稿一覧") %>

  <%= render 'recruitments/upper' %>
  <section class="main">
    <div class="side">
      <%= render 'recruitments/sidebar' %>
    </div>
    <div class="main-p">
       <%= render partial: 'main', locals: { teachers: @teachers, recruitments: @recruitments } %>
    </div>
  </section>
