
<div class="top-upper">
  <%= image_tag("sports.jpg", :alt => "アプリのイメージ画像", :class => "upper-pic") %>
</div>
<div class="type-btn">
  <div class="type-btn-wrap">
    <li><%= link_to '全投稿', root_path%></li>
    <li><%= link_to '指導者の投稿', teacher_index_path %></li>
    <li><%= link_to '受講者の投稿' %></li>
  </div>
</div>
