<% provide(:title, "募集一覧") %>

  <%= render 'upper' %>
  <section class="main">
    <div class="main-p">
      <%= render partial: 'recruitment', locals: { recruitments: @recruitments } %>
    </div>
  </section>
