
<div class="group-wrap">
  <div class="group-around">
    <% @anotherGroupUsers.includes(:user).each do |user| %>
    <div class="each-message">
      <div class="your-img">
        <p>
          <%= image_tag("user.png", :alt => "募集者の画像", :class => "user-pic") %>
        </p>
      </div>
      <%= link_to group_messages_path(user) do %>
      <div class="your-content">
        <div class="your-name">
          <h2><%= user.user.name %></h2>
        </div>
        <div class="your-message">
          <!-- 30字以内-->
          <h2></h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
