<div class="user-age">
  <p class="secret"><strong>都道府県</strong><span><%= @user.prefecture %></span></p>
</div>
<div class="user-sex">
  <p class="secret"><strong>年齢</strong><span><%= @user.age %>歳</span></p>
</div>
<div class="user-prefecture">
  <p class="secret"><strong>性別</strong><span><%= @user.sex %></span></p>
</div>
<div class="user-self-introduction">
  <p class="secret">
    <strong>自己紹介</strong><span><%= @user.self_introduction %></span>
  </p>
</div>
