.user-age
  %p.secret
    %strong 都道府県
    %span= @user.prefecture
.user-sex
  %p.secret
    %strong 年齢
    %span
      = @user.age
      歳
.user-prefecture
  %p.secret
    %strong 性別
    %span= @user.sex
.user-self-introduction
  %p.secret
    %strong#int 自己紹介
    %span#my-int= @user.self_introduction
