<div class="index-wrapper">
  <% @users.each do |user| %>
  <div class="user-index">
    <div class="user-img">
      <p>
        <%= image_tag("user.png", :alt => "募集者の画像", :class => "user-avatar") %>
      </p>
      <h2><%= user.name %></h2>
    </div>
    <div class="user-type">
      <p class="u-pref"><%= user.prefecture %></p>
      <p class="u-p-type"><%= user.person_type %></p>
    </div>
  </div>
  <% end %>
</div>

