
<div class="user-wrapper">
  <div class="user">
    <div class="user-show">
      <div class="user-icon">
        <p>
          <%= image_tag("user.png", :alt => "募集者の画像", :class => "user-pic") %>
        </p>
        <div class="user-name-type">
          <h2 class="user-name">
            katsu
          </h2>
          <span class="user-type">
            受講者
          </span>
        </div>
      </div>
      <div class="user-prof">
        <div class="user-age">
          <p class="secret"><span>都道府県</span> 滋賀県</p>
        </div>
        <div class="user-sex">
          <p class="secret"><span>年齢</span> 22歳</p>
        </div>
        <div class="user-prefecture">
          <p class="secret"><span>性別</span> 男</p>
        </div>
        <div class="user-self-introduction">
          <p class="secret">
            <span>自己紹介</span> よろしくお願いします
          </p>
        </div>
      </div>
    </div>
    <div class="user-recruit">

    </div>
  </div>
</div>
