.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.brand-title {
  .top-title {
    color: pink !important;
  }
}

.main {
    display: flex;

    .side {
      width: 25%;
      border-right: 1px solid #cfcfcf;
      background: white;

      .sidebar {
        .side-each {
          height: 80px;
          border-bottom: 1px solid #cfcfcf;

          a {
            text-decoration: none;
            color: black;

            .side-around {
              display: flex;
              padding: 25px 45px;

              p {

                .s-icon {
                  font-size: 35px;
                }
              }

              h2 {
                font-size: 1.7rem;
                text-align: center;
                margin-left: 10px;


              }
            }
          }
        }

        .side-each:hover {
          box-shadow: 3px 5px 20px -5px gray;
          border-right: 5px solid pink;
        }
      }
    }
  }

