@mixin border {
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  padding: 13px;
  background: #fff;
}

@mixin position {
  text-align: center;
  margin-bottom: 0;
}

@mixin prefecture {
  border: 1px solid pink;
  border-radius: 20px;
  text-align: center;
  padding: 2px 3px;
  font-size: 13px;
  color: pink;
}


@mixin title {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.2rem;
}


@mixin p {
  border: 1px solid $orange;
  background: $orange;
  border-radius: 10px;
  align-items: center;
  padding: 3px 5px;
  font-weight: bold;
  color: white;
}

@mixin user-index {
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  padding: 13px;
  background: #fff;
  width: 300px;
  margin: 25px auto;
}


$basicGreen: #9CD75B;
$formGreen: #9cd75ba1;
$orange: #ff6666;
