/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
@import 'bootstrap';
@import 'static_pages';
@import 'recruitments';
@import 'users';
@import 'student';
@import 'groups';
@import 'messages';


h3 {
  text-align: center;
  font-weight: bold;
}

.all-around {
  background: #F8F9FA;
}


/////////////////////////
/////////navbar//////////
/////////////////////////


.header {
  border-bottom: 1px solid #cfcfcf;
  .navbar {
    .nav-brand {
      .brand-title {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 100px;
        color: pink;
        text-decoration: none;
      }
    }
    .navbar-button {
      .navbar-right {
        margin-right: 70px;
        .nav-p {
          .nav-link {
            color: pink;
            font-size: 1.1rem;
          }
        }
        .nav-d {
          & a {
            color: pink;
            font-size: 1.1rem;
          }
          .nav-m {
            .nav-i {
              color: #2B556A;
            }
          }
        }
      }
    }
  }
}


/////////////////////////
/////////navbar//////////
/////////////////////////






footer {
  border-top: 1px solid #cfcfcf;
  height: 60px;
  .text-center {
    ul {
      li {
        a {
          color: pink;
        }
      }
    }
  }
}
