@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap';
@import 'groups';
@import 'messages';
@import 'common';

@import 'users/index';
@import 'users/show';
@import 'users/login';
@import 'users/edit-user';

@import 'recruitments/index';
@import 'recruitments/show';
@import 'recruitments/form';
@import 'recruitments/sidebar';


h3 {
  text-align: center;
  font-weight: bold;
}

.all-around {
  background: #F8F9FA;

  @include sp {
    background: linear-gradient(to left, #77bb58e0, #b9e682d1);
  };
}


/////////////////////////
/////////navbar//////////
/////////////////////////

  .header {
    border-bottom: 1px solid $gray;

    @include pc {
      display: none;
    }
    .navbar {
      .nav-brand {
        .brand-title {
          font-size: 1.4rem;
          font-weight: bold;
          margin-left: 100px;
          color: $basicGreen;
          text-decoration: none;
        }
      }
      .navbar-button {
        .navbar-right {
          margin-right: 70px;
          .nav-p {
            .nav-link {
              color: $basicGreen;
              font-size: 1.1rem;
            }
          }
          .nav-d {
            & a {
              color: $basicGreen;
              font-size: 1.1rem;
            }
            .nav-m {
              .nav-i {
                color: #2B556A;
              }
            }
          }
        }
      }
    }
  }



/////////////////////////
/////////navbar//////////
/////////////////////////






footer {
  border-top: 1px solid $gray;
  height: 60px;
  .text-center {
    ul {
      li {
        a {
          color: $basicGreen;
        }
      }
    }
  }
}
