$pc: 768px;
$sp: 767px;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin border {
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  padding: 13px;
  background: #fff;
}

@mixin position {
  text-align: center;
  margin-bottom: 0;
}

@mixin prefecture {
  border: 1px solid pink;
  border-radius: 20px;
  text-align: center;
  padding: 2px 3px;
  font-size: 13px;
  color: pink;
}


@mixin title {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.1rem;
}


@mixin p {
  border: 1px solid $orange;
  background: $orange;
  border-radius: 10px;
  align-items: center;
  padding: 3px 5px;
  font-weight: bold;
  color: white;
}

@mixin user-index {
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  padding: 13px;
  background: #fff;
  width: 300px;
  margin: 25px auto;
}

@mixin borderSimple {
  border: 1px solid #cfcfcf;
}

@mixin avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;

  @include sp {
    width: 60px;
    height: 60px;
  }
}

@mixin edit {
  label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #495057;
    margin-right: 10px;
    margin: auto;

    @include sp {
      font-size: 1.2rem;
    }
  }
  select {
    margin: auto;
  }
}

.secret {

  @include sp {
    position: relative;
  };

  & strong {
    font-weight: bold;
    @include sp {
      font-size: 1rem;
    };
  }
  span {
    @include sp {
      position: absolute;
      left: 30%;
      color: #2b546a;
      font-size: 1rem;
    };
  }
}


$basicGreen: #9CD75B;
$formGreen: #9cd75ba1;
$orange: #ff6666;
$tcolor: #fd5068;
