$pc: 768px;
$sp: 767px;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin border {
  border: 2px solid $gray;
  border-radius: 20px;
  padding: 13px;
  background: #fff;
}

@mixin position {
  text-align: center;
  margin-bottom: 0;
}

@mixin prefecture {
  border: 1px solid $basicGreen;
  border-radius: 20px;
  text-align: center;
  padding: 2px 3px;
  font-size: 13px;
  color: $basicGreen;
}


@mixin title {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.1rem;
}


@mixin p {
  border: 1px solid $pink;
  background: $pink;
  border-radius: 10px;
  align-items: center;
  padding: 3px 5px;
  font-weight: bold;
  color: white;
}

@mixin user-index {
  border: 2px solid $gray;
  border-radius: 20px;
  padding: 13px;
  background: #fff;
  width: 300px;
  margin: 25px auto;
}

@mixin borderSimple {
  border: 1px solid $gray;
}

@mixin avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;

  @include sp {
    width: 60px;
    height: 60px;
  }
}

@mixin edit {
  label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #495057;
    margin-right: 10px;
    margin: auto;

    @include sp {
      font-size: 1.2rem;
    }
  }
  select {
    margin: auto;
  }
}

@mixin sex {
  font-size: 1.0rem;
  font-weight: bold;
  color: #757575;
  margin-right: 10px;
  margin: auto;
}

.secret {

  @include sp {
    position: relative;
  };

  & strong {
    font-weight: bold;
    @include sp {
      font-size: 1rem;
    };
  }
  span {
    color: $black;

    @include sp {
      position: absolute;
      left: 30%;
      color: $black;
      font-size: 1rem;
    };
  }
}

//必須ボタンと募集ボタン
$pink: #fd5068;

//sidebarの色
$black: #535353;

//投稿内容の色
$contentGray: #6c757d;

//
$navy: #2b546a;
$basicGreen: #9CD75B;
$gray: #cfcfcf;
