// Place all the styles related to the recruitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";


/////////////////////////
/////////index///////////
/////////////////////////

.wrapper {
  .top-upper {
    .upper-pic {
      width: 100%;
      height: 300px;
      display: block;
      border-radius: 0 0 20px 20px;
    }
  }

  .type-btn {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 50px;
    width: 60%;

    .type-btn-wrap {
      margin-top: 20px;
      display: flex;
      list-style: none;
      align-items: center;
      width: 100%;
      height: 50px;
      background: white;
      & li {
        margin: 0 auto;
        & a {
          justify-content: center;
          width: 90px;
          display: flex;
          padding: 0 10px;
          align-items: center;
          height: 42px;
          color: #2b546a;
          font-weight: bold;
          cursor: pointer;
          margin: auto;
        }
      }
    }
  }

  .main {
    .main-upper {
    }

    .main-p {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .each-p {
        @include border;
        width: 300px;
        margin: 25px auto;

        .p-upper {
          display: flex;

          .p-user {
            p {
              @include position;

              .user-pic {
                width: 50px;
                height: 50px;
                border-radius: 60%;
              }
            }

            .user-name {
              p {
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 0.7rem;
                font-weight: bold;
              }
            }

            .user-pref {
              p {
                @include prefecture;
              }
            }
          }

          .p-title {
            h2 {
              @include title;
            }
          }
        }

        .p-content {
          margin-top: 20px;

          .link {
            text-decoration: none
          }

          p {
            color: #6c757d;
          }
        }

        .p-tag {
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}



/////////////////////////
/////////show////////////
/////////////////////////

.each-p {
  @include border;
  width: 600px;
  margin: 30px auto;

  .p-upper {
    display: flex;
    border-bottom: 3px dotted #cfcfcf;
    padding-bottom: 15px;


    .p-user {
      p {
        @include position;

        .user-pic {
          @include avatar;
        }
      }

      .user-name {
        p {
          margin: 20px 0;
        }
      }

      .user-pref {
        p {
          @include prefecture;
        }
      }
    }

    .p-title {
      h2 {
        @include title;
      }
    }
  }

  .p-content {
    margin: 50px 0 0 0;
    border-bottom: 3px dotted #cfcfcf;
    padding: 0 15px 20px;


    & p {
      color: #6c757d;
      font-size: 1.3rem;
      line-height: 2.5rem;
    }
  }

  .p-tag {
    span {
      margin-right: 10px;
    }
  }
}



/////////////////////////
/////////form////////////
/////////////////////////

.recruitment-wrap {

  .recruitment-around {
    padding: 20px 0 70px;

    .recruitment-inner {
      width: 40%;
      margin: 0 auto;
      background: white;
      border: 2px solid #cfcfcf;
      border-radius: 10px;
      padding: 20px 20px 50px;

      .recruitment-upper {
      }

      .recruitment-form {

        .r-title {

          .title-label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            & h2 {
              font-size: 1.5rem;
              font-weight: bold;
              color: #495057;
              margin-right: 10px;
            }

            & p {
              @include p;
            }
          }

          .title-field {
          }

        }

        .r-content {
          margin-top: 30px;

          .content-label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            & h2 {
              font-size: 1.5rem;
              font-weight: bold;
              color: #495057;
              margin-right: 10px;

            }

            & p {
              @include p;
            }
          }

          .content-field {

          }
        }

        .r-hope_day {
          margin-top: 30px;

          .hope_day-label {
            margin-bottom: 10px;
            display: flex;

            & h2 {
              font-size: 1.5rem;
              font-weight: bold;
              color: #495057;
              margin-right: 10px;

            }
          }

          .hope_day-field {

          }
        }

        .r-category {
          margin-top: 30px;

          .category-label {
            margin-bottom: 10px;
            display: flex;

            & h2 {
              font-size: 1.5rem;
              font-weight: bold;
              color: #495057;
              margin-right: 10px;

            }
          }

          .category-field {
            display: flex;
            select {
              width: 100%;
              margin: 20px auto;
            }
          }
        }

        .r-submit {
          display: flex;

          .submit-btn {
            border:1px solid $orange;
            background: $orange;
            border-radius: 10px;
            padding: 5px 10px;
            font-weight: bold;
            margin: 0 auto;
            color: white;
            width: 200px;

          }
        }
      }
    }
  }
}

