/////////////////////////
/////////index//////////
/////////////////////////
@import "common";


.index-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  @include sp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  };

  a {
    margin: auto;
    text-decoration: none;
    @include sp {
      margin: auto;
    };
  }

  .user-index {
    @include user-index;

    .user-img {
      & p {
        text-align: center;
        .user-avatar {
        @include avatar;
        }
      }
      & h2 {
        text-align: center;
        font-size: 1.3rem;
        color: $black;
      }
    }
    .user-type {
      display: flex;
      align-items: center;
      .u-pref {
        border: 1px solid $basicGreen;
        border-radius: 20px;
        text-align: center;
        padding: 2px 3px;
        color: $basicGreen;
        font-size: 1rem;
        margin: 0 auto;
      }
      .u-p-type {
        border: 1px solid orange;
        border-radius: 20px;
        background: orange;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: bold;
        padding: 5px 10px;
        color: white;
      }
    }
  }
}
