@import "common";

/////////////////////////
/////////show////////////
/////////////////////////


.user-wrapper {
  margin: auto;

  .user {
    .user-show {
      margin-top: 20px;
      background: white;
      padding: 15px 20px;
      border-radius: 6px;

      @include pc {
        width: 600px;
        border-radius: 15px;
        border: 2px solid #cfcfcf;
      }

      .user-icon {
        span {
          color: $black;
        }
      }

      .user-prof {

        span {
          border-radius: 15px;
          padding: 5px 10px;
          margin-right: 4%;
          background: #cfcfcfb0;
          color: white;
        }

        .u-type {
          background: orange;
        }
        .u-pref {

        }
        .u-age {

        }
        .u-sex {

        }
      }

      .m-t {
        margin-top: 40px;
      }

      .user-intro {
        margin-top: 40px;
        p {
          font-size: 0.9rem;
        }
      }

      .message-btn {
        .message {
          text-align: center;
          font-size: 1.1rem;

          .m-btn {
            padding: 5px 40px;
            border-radius: 20px;
          }

          a {
            text-decoration: none;
            color: white;
          }
        }
      }

      .user-edit {
        margin-top: 40px;

        h2 {
          text-align: center;
          font-size: 1.1rem;

          a {
            text-decoration: none;
            color: $black;
          }
          .user-edit-btn {
            background: $contentGray;
            color: white;
            padding: 5px 30px;
            border-radius: 15px;
          }
        }
      }

      .user-recruit {
      }
    }
  }
}
