
<footer class="py-1">
  <div class="container text-center">
    <ul class="nav justify-content-center mb-3">
      <li class="navbar-item">
        <%= link_to 'ホームへ戻る', '#', class: "nav-link" %>
      </li>
      <li class="navbar-item">
        <%= link_to 'コンセプト', '#', class: "nav-link" %>
      </li>
      <li class="navbar-item">
        <%= link_to 'Teachmeについて', '#', class: "nav-link" %>
      </li>
    </ul>
    <p>
      <small class="copyright">
        Copyright © 2018 Teachme All Right Reserved.
      </small>
    </p>
  </div>
</footer>
