%footer.py-1
  .container.text-center
    %ul.nav.justify-content-center.mb-3
      %li.navbar-item
        = link_to 'ホームへ戻る', '#', class: "nav-link"
      %li.navbar-item
        = link_to 'コンセプト', '#', class: "nav-link"
      %li.navbar-item
        = link_to 'Teachmeについて', '#', class: "nav-link"
    %p
      %small.copyright
        Copyright © 2018 Teachme All Right Reserved.
